<!DOCTYPE html>
<html>
  <head>
    <title>Daisy &amp; Martin are getting married!</title>
    <meta charset="utf-8">
    <meta name="description" content="Daisy &amp; Martin are getting married!">
    <meta name="viewport" content="width=device-width">

    <script src="http://js.addthisevent.com/atemay.js"></script>
    <script>
      addthisevent.settings({
        mouse   : false,
        css     : false,
        outlook : { show: true, text: 'Add to Outlook Calendar' },
        google  : { show: true, text: 'Add to Google Calendar' },
        yahoo   : { show: true, text: 'Add to Yahoo Calendar' },
        ical    : { show: true, text: 'Add to Apple Calendar' },
        hotmail : { show: true, text: 'Add to Hotmail Calendar' },
        facebook: { show: false, text: 'Add to Facebook Calendar' }
      });
    </script>

    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet'>
    <link href="http://fonts.googleapis.com/css?family=Cinzel:400,700" rel="stylesheet">
    <link href="/css/app.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <hr>
      <img class="logo" src="/images/logo@2x.png" width="656" height="262">
      <hr>
    </header>

    <nav>
      <a class="menu" href="#">Menu</a>
      <ul class="nav">
        <li{{#equals page "wedding"}} class="active"{{/equals}}>
          <a href="/">The Wedding</a>
        </li>
        <li{{#equals page "travel"}} class="active"{{/equals}}>
          <a href="/travel">Travel</a>
        </li>
        <li{{#equals page "accommodation"}} class="active"{{/equals}}>
          <a href="/accommodation">Accommodation</a>
        </li>
        <li{{#equals page "gifts"}} class="active"{{/equals}}>
          <a href="/gifts">Gifts</a>
        </li>
        <li{{#equals page "rsvp"}} class="active"{{/equals}}>
          <a href="/rsvp">RSVP</a>
        </li>
        <li{{#equals page "contact"}} class="active"{{/equals}}>
          <a href="/contact">Contact</a>
        </li>
        <li{{#equals page "photos"}} class="active"{{/equals}}>
          <a href="/photos">Photos</a>
        </li>
      </ul>
    </nav>
    {{{body}}}

    <script src="/js/app.min.js"></script>
  </body>
</html>
