form {
  width: 80%;
  margin: 60px auto 20px auto;
}

label {
  display: block;
  width: 90%;
  margin: 20px auto 10px auto;
  text-align: left;
  font-size: em(modular-scale($font-size, 1, 1.2), $font-size);
  line-height: 1.5em;
  font-weight: 100;

  &.radio {
    font-weight: normal;
    font-size: em($font-size, $font-size);
    text-align: left;
    padding: 0 10px;
    cursor: pointer;

    input {
      display: none;
    }

    .label-text {
      float: left;
    }

    input + .fake-radio {
      float: left;
      width: 27px;
      height: 27px;
      margin-right: 10px;
      cursor: pointer;
      background: transparent url('/images/icon-radio@2x.png') top left no-repeat;
      background-size: 27px 27px;
    }

    input:checked + .fake-radio-yes {
      background: transparent url('/images/icon-tick@2x.png') top left no-repeat;
      background-size: 27px 27px;
    }

    input:checked + .fake-radio-no {
      background: transparent url('/images/icon-cross@2x.png') top left no-repeat;
      background-size: 27px 27px;
    }

    input:checked ~ .label-text {
      font-weight: bold;
    }
  }
}

input[type=text],
input[type=email],
textarea {
  outline: none;
  display: block;
  width: 90%;
  margin: 0 5% 50px 5%;
  border: 1px solid #ccc;
  color: #3F3F3F;
  border-radius: 2px;
  transition: background 0.2s linear, box-shadow 0.6s linear;
  font-size: em(modular-scale($font-size, 1, 0.9), $font-size);
  background: #fff;

  &:required {
    box-shadow: none;
  }

  &:active, &:focus {
    background: #fefefe;
    border: 1px solid $green;
    box-shadow: 0 0 30px #ccc, 2px 2px 7px #E8E8E8 inset, 0 0 0 2px $green;
  }
}

input[type=text],
input[type=email] {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}

textarea {
    min-height:150px;
    resize:vertical;
    padding: 10px;
}

input::-webkit-input-placeholder {
  color: #BABABA;
  font-style: italic;
}

input::-moz-placeholder {
  color: #BABABA;
  font-style: italic;
  opacity: 1;
}

input:-moz-placeholder {
  color: #BABABA;
  font-style: italic;
  opacity: 1;
}

input::-ms-input-placeholder {
  color: #BABABA;
  font-style: italic;
}

button {
  display: block;
  width: 90%;
  max-width: 200px;
  margin: 20px 5%;
  background: $green;
  padding: 20px;
  color: #fff;
  border: 0;
  border-radius: 5px;

  &:hover {
    background: darken($green, 20%);
    box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.2) inset;
  }

  &:active {
    background: darken($green, 30%);
    box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.3) inset;
  }
}

.radio-buttons {
  margin-top: -30px;
  padding: 5px 0;
}

fieldset {
  float: left;
  width: 44%;
  margin: 0 0 30px 4%;
  padding: 0;
  border: 1px dashed #ddd;

  @media(max-width: 960px) {
    float: none;
    width: 90%;
    margin: 0 auto 30px auto;
  }

  legend {
    text-align: left;
    font-size: em(modular-scale($font-size, 1, 0.9), $font-size);
    font-weight: bold;
    padding: 0 10px;
  }

  textarea {
    min-height: 50px;
    margin-bottom: 20px;
  }
}
