//
// Photos
//
.photos {
  text-align: center;
  margin-top: 40px;

  img {
    margin: 20px;
    margin-bottom: 0;
    width: 200px;
    height: auto;
    box-shadow: 0 0 3px #999, 0 0 35px #aaa;
  }
}

//
// Calendar Box
//
.box-cal {
  width: 90%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  @media(max-width: 700px) {
    width: 100%;
    margin: 40px 0;
    text-align: center;
    background: transparent;
    box-shadow: none;
    border: none;
  }
}
