//
// Photos
//
.photo {
  text-align: center;

  img {
    margin: 40px auto 20px auto;
    height: auto;
    width: 90%;
    max-width: 900px;
    box-shadow: 0 0 3px #999, 0 0 35px #aaa;
  }
}

//
// Calendar Box
//
.calendar {
  width: 80%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0 20px 0;

  h3 {
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
  }

  @media(max-width: 700px) {
    width: 100%;
    margin: 40px 0;
    text-align: center;
    background: transparent;
    box-shadow: none;
    border: none;
  }
}
