html {

}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #fff;
}

h1 {
  margin: 20px 0 40px 0;
  font-family: 'Alex Brush', cursive;
  font-size: 80px;
  font-weight: normal;
  text-align: center;
}

h2 {
  font-family: 'Alex Brush', cursive;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
}

p {
  font-size: 18px;
  font-weight: 100;
  font-family: 'Lora', 'Open Sans', serif;
}

a {
  text-decoration: none;
  color: #60AA33;
  font-weight: bold;
}

//
// Page Container
//
.page {
  background: #fff;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 40px auto;
  padding: 20px;
}

//
// Site Header
//
header {
  background: #eee url('/images/header.png') bottom left no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0;
  height: 514px;

  &.mini {
    background: none;
    height: auto;
    text-align: center;
    padding-top: 30px;
  }
}

header .logo {
  margin-left: 80px;
  margin-top: 170px;
}

//
// Navigation
//
nav {
  display: block;
  width: 100%;
  height: 100px;
  background: #fff url('/images/nav-sep.png') center left repeat-x;

  ul {
    display: block;
    width: 760px;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    background: #fff;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;

    li {
      display: inline-block;
      list-style: none;
      height: 100px;
      line-height: 100px;
      padding: 0 10px;

      a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 20px;
        color: #222;
        transition: border-bottom .6s ease-in-out;
        border-bottom: 4px solid transparent;

        &:hover {
          border-bottom: 4px solid #ccc;
        }
      }

      &.active a {
        border-bottom: 4px solid #60AA33;
      }
    }
  }
}

//
// Home - Details Box
//
.details {
  padding: 30px 20px;
  background: #fafafa;
  background: rgba(250,250,250,0.7);
  border: 1px solid #eee;
  width: 90%;
  margin: 0 auto 60px auto;
}

.details-date {
  margin: 0;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Open Sans', serif;
}

.details-date sup {
  font-size: 26px;
}

.details-location {
  margin: 0;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Open Sans', serif;
}

.details-times {
  display: block;
  margin: 30px auto 0 auto;
  padding: 0;
  width: 440px;

  dt, dd {
    list-style: none;
    display: inline-block;
    margin: 0 0 10px 0;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
  }

  dt {
    width: 260px;
    text-align: left;
  }

  dd {
    width: 170px;
    text-align: right;
    font-weight: 600;
    text-transform: uppercase;

    span {
      font-size: 0.7em;
      padding-left: 2px;
      color: #444;
    }
  }
}

//
// Home - Welcome Text
//
.welcome {


  img {
    float: left;
    margin: 0 40px;
  }

  p {
    padding: 0 10%;

    &.first {
      padding-top: 30px;

      &:first-letter {
        font-size: 2em;
      }
    }
  }
}


.location {
  height: 640px;
  margin: 80px 0 40px 0;
  background: rgba(250,250,250,0.7);
  border: 1px solid #eee;
  padding: 20px 0;

  h2 {
    margin: 0 0 30px 0;
    padding-bottom: 10px;
  }

  .photo {
    margin: 0 40px;
    float: right;
  }

  .map {
    margin: 20px 40px 0 40px;
  }

  p {
    padding: 0 40px;

    &.address {
      font-weight: 600;
      font-size: 1.4em;
      // padding-top: 60px
    }
  }
}

.directions {
  margin: 40px 0;
  background: rgba(250,250,250,0.7);
  border: 1px solid #eee;
  padding: 20px 0;
  text-align: center;

  h2 {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .map {
    margin: 25px 0;
  }

  p {
    padding: 0 10%;
  }

  ul {
    width: 370px;
    margin: 0 auto;

    li {
      list-style: none;
      padding: 5px 0;
    }
  }

  dl {
    padding: 0 10%;
    width: 370px;
    margin: 0 auto;

    dt, dd {
      display: inline-block;
      margin: 0 0 10px 0;
      padding: 0;
      font-weight: bold;
    }

    dt {
      width: 240px;
      text-align: left;
    }

    dd {
      width: 120px;
      text-align: right;
    }
  }
}

.text-info {
  p {
    padding: 0 10%;
    text-align: center;
    font-size: 1.1em;
    &.first {
      font-size: 1.5em;
    }
  }
}

