
<div class="page">

<h1>Accommodation</h1>

<div class="text-info">
  <p class="first">There is no accommodation available at Kirknewton House Stables.</p>

  <p>If you need to book accommodation, we suggest looking at Edinburgh city centre near either of the city’s main train stations, Edinburgh Waverley and Edinburgh Haymarket.  If you’re here for a few days, you can easily enjoy the sights of Edinburgh from either of these locations.</p>

  <p>If you’re driving, you could also consider staying near Edinburgh Airport, which is about 7 miles from Kirknewton.</p>

  <p>There is a wide range of hotels in Edinburgh to suit different tastes and budgets.  If you’d like any help, please feel free to contact us from the contact page.</p>
</div>

</div>

