
<div class="page">

<h1>Contact Us</h1>

<div class="text-info">
  <p class="first">To get in touch with us about anything, please use this form.</p>

  <p>If you want to let us know if you are attending, please go to <a href="/rsvp">RSVP</a>.</p>
</div>

</div>

