<div class="page">

  <h1>Gifts</h1>

  <p class="intro large">You have many options when it comes to gifts! First, and most importantly, you don’t have to get us one. We will be delighted if you just show up to celebrate with us.</p>

  <p class="intro">If your preference is to get us a thing, we have registered with John Lewis, having wandered through picking out some useful, beautiful and magical things. Click on ‘Buy a Gift’ and use our list number <strong>585546</strong>. You do not need a password to access the list. You can also call them on <a href="tel:08456002202">0845 600 2202</a>, or you can visit any John Lewis shop (just make sure you have our list number to hand). This list will open on 24th May 2014.</p>

  <p class="intro"><a href="https://www.johnlewisgiftlist.com">John Lewis Gift List</a></p>

  <p class="intro">Perhaps you would like to make a contribution to the things we will only realise we need when we have a real grown-up’s house? You can do that too! Go to John Lewis (as above), and you will be able to choose gift vouchers.</p>

  <p class="intro">Finally, perhaps you think we have too many things already and you think someone else could benefit more? In which case, we have a list with Oxfam Unwrapped. (Daisy will be impressed if you do, if that helps.) This list is open now.</p>

  <p class="intro"><a href="https://www.oxfam.org.uk/shop/gift-list/?gid=1022123">Oxfam Gift List</a></p>
</div>

</div>

