<div class="page">
  <h1>The Wedding</h1>

  <p class="intro large">Welcome to our wedding! The most important part of our wedding day is you (well, after Daisy obviously), so we hope you find everything you need to know on our website.</p>

  <p class="intro">We’re planning our big day to be a fun and relaxed affair, lots of entertainment, good company, and great food <em>(Martin wanted to cater it himself, but Daisy said no)</em>. We hope to spend a lot of the day outside, but even if the sun is out, this is still Scotland so come prepared. There will be a ceilidh in the evening too (don’t worry English people, full instructions will be given), full participation expected! So leave your formal faces at home, put on your happy hats, and come celebrate with us <strong class="days-remaining">{{remaining}}</strong> time!</p>

  <div class="calendar">
    <h3>Saturday 5<sup>th</sup> July, 2014</h3>

    <div class="cal cal-first">
      <div class="cal-time">2:20<small>pm</small></div>
      <div class="cal-title">Wedding Service</div>
      <div class="cal-add">
        <a href="http://www.daisyandmartinwedding.com" title="Add to Calendar" class="addthisevent">
          <span class="_start">5-07-2013 14:20:00</span>
          <span class="_end">5-07-2013 20:00:00</span>
          <span class="_zonecode">36</span>
          <span class="_summary">Daisy &amp; Martin's Wedding - Service</span>
          <span class="_description">The wedding service</span>
          <span class="_location">Kirknewton House Stables</span>
          <span class="_organizer">Daisy &amp; Martin</span>
          <span class="_organizer_email">daisyandmartinwedding@gmail.com</span>
          <span class="_all_day_event">false</span>
          <span class="_date_format">DD/MM/YYYY</span>
        </a>
      </div>
    </div>

    <div class="cal">
      <div class="cal-time">8:00<small>pm</small></div>
      <div class="cal-title">Evening Reception</div>
      <div class="cal-add">
        <a href="http://www.daisyandmartinwedding.com" title="Add to Calendar" class="addthisevent">
          <span class="_start">5-07-2013 20:00:00</span>
          <span class="_end">5-07-2013 23:30:00</span>
          <span class="_zonecode">36</span>
          <span class="_summary">Daisy &amp; Martin's Wedding - Evening Reception</span>
          <span class="_description">The evening reception.</span>
          <span class="_location">Kirknewton House Stables</span>
          <span class="_organizer">Daisy &amp; Martin</span>
          <span class="_organizer_email">daisyandmartinwedding@gmail.com</span>
          <span class="_all_day_event">false</span>
          <span class="_date_format">DD/MM/YYYY</span>
        </a>
      </div>
    </div>

    <div class="cal">
      <div class="cal-time">11:30<small>pm</small></div>
      <div class="cal-title">Carriages</div>
      <div class="cal-add">
        <a href="http://www.daisyandmartinwedding.com" title="Add to Calendar" class="addthisevent">
          <span class="_start">5-07-2013 23:30:00</span>
          <span class="_end">5-07-2013 23:30:00</span>
          <span class="_zonecode">36</span>
          <span class="_summary">Daisy &amp; Martin's Wedding - Carriages</span>
          <span class="_description">Carriages</span>
          <span class="_location">Kirknewton House Stables</span>
          <span class="_organizer">Daisy &amp; Martin</span>
          <span class="_organizer_email">daisyandmartinwedding@gmail.com</span>
          <span class="_all_day_event">false</span>
          <span class="_date_format">DD/MM/YYYY</span>
        </a>
      </div>
    </div>
  </div>

  <div class="photo">
    <img src="/images/photo.jpg" width="1000" height="750">
  </div>
</div>



