
<div class="page">

  <div class="details">
    <h2 class="details-date">Saturday 5<sup>th</sup> July 2014</h2>
    <h2 class="details-location">Kirknewton House Stables</h2>
    <dl class="details-times">
      <dt>Wedding Service:</dt>
      <dd>2.20<span>PM</span></dd>
      <dt>Evening Reception:</dt>
      <dd>8.00<span>PM</span></dd>
      <dt>Carriages:</dt>
      <dd>11.30<span>PM</span></dd>
    </dl>
  </div>

  <div class="welcome">
    <img class="couple" src="/images/martin-and-daisy.png">
    <p class="first">Welcome to our wedding! The most important part of our wedding day is you (well, after Daisy obviously), so we hope you find everything you need to know on our website.</p>

    <p>We’re planning our big day to be a fun and relaxed affair, lots of entertainment, good company, and great food <em>(Martin wanted to cater it himself, but Daisy said no)</em>.  We hope to spend a lot of the day outside, but even if the sun is out, this is still Scotland - come prepared…  There will be a ceilidh in the evening too (don’t worry English people, full instructions will be given), full participation expected!</p>

    <p>So leave your formal faces at home, put on your happy hats, and come celebrate with us in <strong class="days-remaining">x</strong> days time!</p>
  </div>

</div>

