<div class="page">
  <h1>Photos</h1>

  <p class="intro large">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

  <p class="intro">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <p class="intro">Come back to this page after the wedding to share your photos!</p>
</div>

