
<div class="page">

<h1>RSVP</h1>

<div class="text-info">
  <p class="first">Please let us know if you are able to attend before <strong>1st May 2014</strong>.</p>

  <p>If you have any problems with the form below, please contact us directly.</p>
</div>

</div>

