
<div class="page">

  <h1>Travel</h1>

  <p class="intro large">The whole day will take place at Kirknewton House Stables, in the village of Kirknewton to the west of Edinburgh.</p>

  <p class="intro">The wedding service will start at 2.20pm, we suggest you aim to arrive around 2.00pm.  If you are coming for the evening only, please try to arrive at 8.00pm.  The evening will finish around 11.30pm.</p>


  <div class="box box-location">
    <h2>Location</h2>

    <p class="address">Kirknewton House Stables, Kirknewton, Midlothian EH27 8DA</p>

    <img class="photo" src="/images/barn.jpg" width="400">

    <p>Searching for Kirknewton House Stables on Google Maps returns the right result.</p>

    <p>The driveway into Kirknewton House is not signed from the main road, but there is a small lodge house opposite the entrance.  A short distance down the drive, you will see a sign pointing you to the ‘Stables’ on the right.</p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4475.634721299436!2d-3.4184432000000387!3d55.88318269863507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887dca67be5b143%3A0xb24b9bb326b858e1!2sKirknewton+House+Stables!5e0!3m2!1sen!2suk!4v1395579447876" class="map" width="90%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border: none"></iframe>
  </div>



  <div class="box box-directions">
    <h2>By Public Transport</h2>

    <p class="first">We’ve timed the service so that you have the option of taking a train from Edinburgh to Kirknewton.</p>

    <ul>
      <li>Leaving Edinburgh Waverley at <strong>13:26</strong>.</li>
      <li>Joining at Edinburgh Haymarket at <strong>13:30</strong>.</li>
      <li>Arriving at Kirknewton at <strong>13:52</strong>.</li>
    </ul>

    <p>From the train station it is 0.8 miles (approx. 17 min walk) to Kirknewton Stables.</p>

    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d8950.426583685616!2d-3.4362135212402314!3d55.88683763122911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e2!4m5!1s0x4887db6019ee36f1%3A0xe6501f9f69dc25e8!2sKirknewton%2C+at+Railway+Station+on+Station+Road!3m2!1d55.888711!2d-3.433728!4m5!1s0x4887dca67be5b143%3A0xb24b9bb326b858e1!2sKirknewton+House+Stables%2C+Kirknewton%2C+Midlothian+EH27+8DA%2C+United+Kingdom!3m2!1d55.883182999999995!2d-3.418443!5e0!3m2!1sen!2suk!4v1394199400345" width="90%" height="300" frameborder="0" style="border:0"></iframe>

  </div>

  <div class="box box-directions">
    <h2>By Car</h2>
    <p class="first">There is some parking at the Stables if you plan on driving.  The postcode for your satnav is <strong>EH27 8DA</strong></p>
    <p>When you turn down the drive to Kirknewton House, follow the sign for the Stables, and then you will see a sign for parking on the right. The stables are a short walk from the car park.</p>
  </div>

  <div class="box box-directions">
    <h2>Getting Home</h2>
    <p class="first">If you’re going home via public transport, there are trains throughout the evening leaving from Kirknewton train station travelling back into Edinburgh City Centre. The last two leave at <strong>22:21</strong>, and <strong>00:09</strong>.  If you plan on catching the last train, please feel free to help us with some tidying up before you go!</p>

    <p>You can also get the number <strong>28</strong> bus from Kirknewton village, which leaves from Main Street, outside a pub (the Kirknewton Inn), near the post office.  That’s a 10 minute walk from the Stables.  It leaves at 5 minutes past the hour, the last bus is at <strong>23:05</strong>.  <a href="http://www.firstgroup.com/ukbus/scotland_east/journey_planning/timetables/timetable.php?day=2&source_id=2&service=27/28/X27/X28&routeid=9195151&operator=25&source=sp" target="_blank">View the full timetable</a>.</p>

    <p>If you want to get a taxi, we’d recommend one of the following companies, and we suggest you book your taxi in advance.</p>
    <dl>
      <dt>Alpha Cars</dt>
      <dd><a href="tel:01506464040">0150 646 4040</a></dd>
      <dt>Direct Airport Transfers</dt>
      <dd><a href="tel:01506441000">0150 644 1000</a></dd>
      <dt>TopCars</dt>
      <dd><a href="tel:01506444444">0150 644 4444</a></dd>
      <dt>Livingston Seven Seater Co</dt>
      <dd><a href="tel:01506444454">0150 644 4454</a></dd>
      <dt>Mike Glover Travel</dt>
      <dd><a href="tel:01505442220">0150 544 2220</a></dd>
      <dt>Newtown Radio Cars</dt>
      <dd><a href="tel:01506434343">0150 643 4343</a></dd>
    </dl>
  </div>
</div>

